.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.navlink {
  text-decoration: none;
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
}
.navlink:global.active {
  color: darkblue;
}
.navlink:hover {
  text-decoration: underline;
}
